.col__baseInfo.cvInfo
    .cvInfo__outline
        .cvInfo__avatar
    .cvInfo__name.upperText Evgeny
    .cvInfo__surname.boldText.upperText Trusov
    .cvInfo__title.boldText.upperText Web Developer