@import "../projectShare/vars.less";
.cvInfo {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__name {
        font-size: 55px;
    }
    &__surname {
        margin-top: -20px;
        font-size: 61px;
    }
    &__title {
        font-size: 25px;
    }

    &__avatar {
        width: 87.8%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -94.15%;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
            border-radius: 50%;
            background: url("baseInfo/img/avatar.png") center no-repeat @blue;
            background-size: contain;
        }
    }
    &__outline {
        transform: translateX(9px);
        width: 56.07%;
        min-width: 230px;
        margin-bottom: 33px;
        &::before {
            content: "";
            display: block;
            padding-top: 100%;
            border-radius: 50%;
            background-color: @mainColor;
            border:1px solid @blue;
         }
    }
}