*{
    margin: 0;
    padding: 0
}
.cv {
    max-width: 1240px; /*2480 */
    margin: 0 auto;
}
.content {
    background-color: #fff;
    display: flex;
    flex-direction: raw;
    padding-left: 5%;
    padding-right: 6.5%;
    padding-top: 80px; /*190 2480 */
    padding-bottom: 80px;
    &__left {
        width: 34%;
        margin-right: 7%;
    }
}
.col {
    display: flex;
    flex-direction: column;
}