@import "vars.less";
*{
    margin: 0;
    padding: 0
}

.infoTitle {
    color: @blue;
    text-transform: uppercase;
}

.blockTitle {
    .infoTitle();
    display: flex;
    flex-direction: row;
    align-items: center;
    &__line {
        height: 5px;
        background-color: @blue;
        flex-grow: 1;
        margin-left: 12px;
    }
}


.cv {
    max-width: 1400px; 
    margin: 0 auto;
}
.content {
    background-color: @mainColor;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px; 
    padding-bottom: 60px; 
    &__left {
        width: 41%;
    }
    &__right {
        width: 51%;
    }
}
.col {
    display: flex;
    flex-direction: column;
}