*{
    margin: 0;
    padding: 0
}
.cv {
    max-width: 2480px;
    margin: 0 auto;
}
.content {
    background-color: #fff;
    display: flex;
    flex-direction: raw;
    padding-left: 5%;
    padding-right: 6.5%;
    padding-top: 150px; /*190 2480 */
    &__left {
        width: 34%;
        margin-right: 7%;
    }
}
.col {
    display: flex;
    flex-direction: column;
}