@import "./vars.less";
@media (max-width: 900px) { // 1080 -> 360...
    .content {
        padding-left: 15px;
        padding-right: 15px;
        &__left, &__right {
            width: 100%;
        }
        &__left {
            margin-top: 40px;
        }
        &__right {
            margin-top: 50px;
        }
        &__box {
            padding-bottom: 70px;
        }
    }
    
    .col {
        justify-content: flex-start;
    }

    .cvInfo__outline {
        transform: translateX(0px);
    }

    .infoBlog__date {
        display: block;
        margin-top: 7px;
    }
}

@media (max-width: 1100px) {
    .softCol {
        width: calc(100% - 60px);
    }
    .quantity__item {
        width: calc(16.66% - 2*@circleSpace);
    }
} 


@media (max-width: 1200px) {
    .contactContainer__item {
        &:nth-child(n) { // or important! is better?..
            width: 100%;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        &:nth-child(2n-1) {
            border-bottom: 2px @blue dashed;
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
}