mixin setGrade(grade)
    - var str = "width: " + grade + "%"
    .software__scale
    .software__scale.software__scale-explored(style=str)

mixin setQuantity(val)
    - var maxQuanity = 12
    - for(var i = 0; i < maxQuanity; i++)
        if(i < val)
            .quantity__item
        else
            .quantity__item.quantity__item-disabled

mixin setTitle(path, title)
    .blockTitle 
        img.blockTitle__img(src=path)
        .blockTitle__header #{title}
        .blockTitle__line