.content.cv
    .content__left.col
        include ../baseInfo/block
        include ../profile/block
        include ../contact/block
        include ../skills/block
    .content__right.col
        include ../education/block
        include ../experience/block
        include ../software/block
