@import "../projectShare/vars.less";

*{
    margin: 0;
    padding: 0
}

.cv {
    max-width: 1400px; 
    margin: 0 auto;
}
.content {
    background-color: @mainColor;
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 70px;
    padding-right: 85px;
    padding-top: 70px; 
    padding-bottom: 60px; 
    &__left {
        width: 41%;
    }
    &__right {
        width: 51%;
    }
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__education {
        //margin-top: -@blockMT;
    }
}