@import "../projectShare/vars.less";

@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MyriadPro-Regular.woff') format('woff'),
		 url('fonts/MyriadPro-Regular.ttf')  format('truetype'),
		 url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('fonts/MyriadPro-Bold.eot');
	src: url('fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/MyriadPro-Bold.woff') format('woff'),
		 url('fonts/MyriadPro-Bold.ttf')  format('truetype'),
		 url('fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0
}
body {
    font-size: 16px;
    color: @dark;
    font-family: "MyriadPro";
}


.content {
    max-width: 1240px; // scale = 0.5 
    margin: 0 auto;
    background-color: @mainColor;

    &__box {
        display: flex;
        flex-direction: raw;
        flex-wrap: wrap;
        padding-left: 5.04%;
        padding-right: 2.22%;
        padding-bottom: 95px; 
    }
    &__left {
        width: 35.8%;
        margin-top: 89px;
        margin-right: 7.8%;
        animation: Appear 0.75s linear forwards;
    }
    &__right {
        width: 54%;
        margin-top: 77px;
        animation: AppearReverse 0.75s linear forwards;
    }
}
.col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

@keyframes Appear {
    0% {
        transform: translateX(-400px) rotateY(120deg);
        opacity: 0;
    }
    50% {
        transform: translateX(-30px) rotateY(65deg);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}

@keyframes AppearReverse {
    0% {
        transform: translateX(400px) rotateY(-120deg);
        opacity: 0;
    }
    66% {
        transform: translateX(30px) rotateY(-65deg);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0px) rotateY(0deg);
    }
}