.col__education.education Education
    .education__brief.graduate
        .graduate__type Complete secondary education
        .graduate__date //Sep 2004 - May 2015
    .education__university School#67
    .education__details Earned gold medal and Lorem ipsum dolor 
        |sit amet consectetur adipisicing elit. Culpa architecto
        |aliquid, placeat quia alias suscipit nulla saepe vel non? Architecto error, 
        |minima maxime quaerat laudantium accusantium hic veniam repudiandae quas.



        
        

