include ../projectShare/mixins
.col__education.education
    +setTitle("out/education/img/icon.png", "Education")
    
    +createInfoBlog("Complete secondary education", "// Sep 2004 - May 2015","School #67",
`Earned gold medal and Lorem ipsum dolor 
sit amet consectetur adipisicing elit. Culpa architecto
aliquid, placeat quia alias suscipit nulla saepe vel non? Architecto error, 
minima maxime quaerat laudantium accusantium hic veniam repudiandae quas.`, "infoTitle")

    +createInfoBlog("Incomplete secondary education", "// Aug 2016 - May 2019","TPU - IC",
`Have a possibility to gain red diploma in Software Engineering 
sit amet consectetur adipisicing elit. Culpa architecto
aliquid, placeat quia alias suscipit nulla saepe vel non? Architecto error, 
minima maxime quaerat laudantium accusantium hic veniam repudiandae quas`, "infoTitle")

    +createInfoBlog("Master graduate", "// Feb 2011 - Jun 2014","University name",
`Lorem ipsum dolor sit amet consectetur adipisicing elit.
Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
veniet consequatur, aliquam doloremque ex vitae iure, consectetur 
voluptatum dignissimos aspernatur ad perferendis.`, "infoTitle")
    
    +createInfoBlog("Master graduate", "// Feb 2011 - Jun 2014","University name",
`Lorem ipsum dolor sit amet consectetur adipisicing elit.
Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
veniet consequatur, aliquam doloremque ex vitae iure, consectetur 
voluptatum dignissimos aspernatur ad perferendis.`, "infoTitle")


        
        

