.col__education.education Education
    .education__brief.graduate
        .graduate__type Complete secondary education
        .graduate__date // Sep 2004 - May 2015
    .education__university School#67
    .education__details Earned gold medal and Lorem ipsum dolor 
        |sit amet consectetur adipisicing elit. Culpa architecto
        |aliquid, placeat quia alias suscipit nulla saepe vel non? Architecto error, 
        |minima maxime quaerat laudantium accusantium hic veniam repudiandae quas.
    
    .education__brief.graduate
        .graduate__type Incomplete bachelor graduate
        .graduate__date // Aug 2016 - May 2019
    .education__university School#67
    .education__details Have a possibility to gain red diploma in Software Engineering 
        |sit amet consectetur adipisicing elit. Culpa architecto
        |aliquid, placeat quia alias suscipit nulla saepe vel non? Architecto error, 
        |minima maxime quaerat laudantium accusantium hic veniam repudiandae quas.

    .education__brief.graduate
        .graduate__type Master graduate
        .graduate__date // Feb 2011 - Jun 2014
    .education__university University name
    .education__details Lorem ipsum dolor sit amet consectetur adipisicing elit.
        |Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
        |eveniet consequatur, aliquam doloremque ex vitae iure, consectetur 
        |voluptatum dignissimos aspernatur ad perferendis.
    
    .education__brief.graduate
        .graduate__type Master graduate
        .graduate__date // Feb 2011 - Jun 2014
    .education__university University name
    .education__details Lorem ipsum dolor sit amet consectetur adipisicing elit.
        |Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
        |eveniet consequatur, aliquam doloremque ex vitae iure, consectetur 
        |voluptatum dignissimos aspernatur ad perferendis.



        
        

