.col__profile.cvProfile Profile
    .cvProfile__content
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, 
        |accusantium omnis similique accusamus sequi nobis iusto, aliquid qui 
        |natus eveniet quibusdam sint ducimus, totam atque recusandae error voluptatum quidem.
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore facilis 
        |laudantium. Nobis, deserunt ad repellendus non vero blanditiis itaque doloremque error 
        |ipsam magnam officia veritatis facilis molestiae! Commodi, ea?