.col__profile.cvProfile
    include ../projectShare/mixins
    +setTitle("out/profile/img/icon.png", "Profile",0,0,-5,-7)
    .cvProfile__content
        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, 
            |accusantium omnis similique accusamus sequi nobis iusto, aliquid qui 
            |natus eveniet quibusdam sint ducimus, totam atque recusandae error voluptatum quidem.
            |ipsum dolor sit amet consectetur adipisicing elit. Nemo odio non animi provident et,
            |natus eveniet quibusdam sint ducimus, totam atque recusandae error voluptatum quidem. 
        span.cvProfile__importantText
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit inventore facilis 
            |laudantium. Nobis, deserunt ad repellendus non vero blanditiis itaque doloremque error 
            |ipsam magnam officia veritatis facilis molestiae! Commodi, ea? 
            |Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolo
            |natus eveniet quibusdam sint ducimus, totam atque recusandae.