.col__skills
    include ../projectShare/mixins
    +setTitle("out/skills/img/icon.png", "Skills")
    .skills
        .skills__skill Creative
            .skills__quantity.quantity
               +setQuantity(9)
        .skills__skill Teamwork
            .skills__quantity.quantity
               +setQuantity(11)
        .skills__skill Innovate
            .skills__quantity.quantity
               +setQuantity(7)
        .skills__skill Communication
            .skills__quantity.quantity
                +setQuantity(11)