mixin setQuantity(val)
    - var maxQuanity = 12
    - for(var i = 0; i < maxQuanity; i++)
        if(i < val)
            .quantity__item
        else
            .quantity__item.quantity__item-disabled

.col__skills
    .blockTitle 
        .blockTitle__img
        .blockTitle__header Skills
        .blockTitle__line
    .skills
        .skills__skill Creative
            .skills__quantity.quantity
               +setQuantity(9)
        .skills__skill Teamwork
            .skills__quantity.quantity
               +setQuantity(11)
        .skills__skill Innovate
            .skills__quantity.quantity
               +setQuantity(7)
        .skills__skill Communication
            .skills__quantity.quantity
                +setQuantity(11)