.quantity {
    display: flex;
    flex-direction: raw;
    flex-wrap: wrap;
    width: 90%;
    margin-left: -3px;
    margin-right: -3px;
    margin-top: 5px;

    &__item {
        margin-right: 3px;
        margin-left: 3px;
        box-sizing: border-box;
        width: calc(8.33% - 6px);
        &::before {
            content: " ";
            display: block;
            padding-top: 100%;
            background-color: rgb(61, 108, 176);
            border-radius: 50%;
            margin-bottom: 5px;
        }

        &-disabled::before {
            background-color: rgb(230, 230, 230);
        }
    }
}
.skills__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
}
