include ../projectShare/mixins
.col__experience.experience
    +setTitle("out/experience/img/icon.png", "Experience")

    +createInfoBlog("Company #1", "// Feb 2011 - Jun 2014", "Job title #1", `Lorem ipsum dolor sit amet consectetur adipisicing elit.
Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
veniet consequatur, aliquam doloremque ex vitae iure, consectetur`)

    +createInfoBlog("Company #2", "// Feb 2011 - Jun 2014", "Job title #2", `Lorem ipsum dolor sit amet consectetur adipisicing elit.
Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
veniet consequatur, aliquam doloremque ex vitae iure, consectetur`) 

    +createInfoBlog("Company #3", "// Feb 2011 - Jun 2014", "Job title #3", `Lorem ipsum dolor sit amet consectetur adipisicing elit.
Neque, itaque! Voluptatibus sapiente odio quibusdam saepe, ab quos 
veniet consequatur, aliquam doloremque ex vitae iure, consectetur`)
