mixin setGrade(grade)
    div.software__scale= 1
.col__software.software
    .software__left.softCol
        .softCol__technology Photoshop
    .software__right.softCol
        .softCol__technology Photoshop