.col__software
    include ../projectShare/mixins
    +setTitle("out/software/img/icon.png", "Software",-11,1,14)
    .software
        .software__left.softCol
            .softCol__technology.largeText Photoshop
            +setGrade(33)

            .softCol__technology.largeText JavaScript
            +setGrade(70)

            .softCol__technology.largeText Vue
            +setGrade(20)

        .software__right.softCol
            .softCol__technology.largeText C#
            +setGrade(75)

            .softCol__technology.largeText MS Paint
            +setGrade(95)

            .softCol__technology.largeText Html5 & CSS3
            +setGrade(90)