@import "../projectShare/vars.less";
@scaleHeight: 22px;
@space: 35px; 

.software {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -@space - 5px;
    margin-right: -@space;
    &__scale {
        background-color: @grey;
        height: @scaleHeight;
        width: 100%;
        margin-top: 15px;
        &-progressed {
            background-color: @blue;
            margin-top: -@scaleHeight;
        }
    }
}
.softCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: @space;
    margin-right: @space;
    width: calc(50% - 2*@space); 
    &__technology {
        margin-top: 20px;
    } 
}

.col__software {
    margin-top: 55px;
}