.software {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-right: -30px;
    &__scale {
        background-color: rgb(230, 230, 230);
        height: 20px;
        width: 100%;
        &-explored {
            background-color: rgb(61, 108, 176);
            margin-top: -20px;
        }
    }
}
.softCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(50% - 60px); 
    @media /*(min-width: 901px) and */ (max-width: 1100px) {
        width: calc(100% - 60px);
    } 
}