.col__contact Contact
    .cvContact 
        .cvContact__attributes
            .cvContact__attribute Address
            .cvContact__attribute E-mail
            .cvContact__attribute Phone
            .cvContact__attribute Website
        .cvContact__data
            .cvContact__address Irkutsky Trakt, 37/1
            .cvContact__e-mail official.trusov.mail@gmail.com
            .cvContact__phone +7-905-990-45-37
            .cvContact__webSite www.*.github.io