.col__contact
    include ../projectShare/mixins
    +setTitle("out/contact/img/icon.png", "Contact")
    .contactContainer
        .contactContainer__item.infoTitle Address
        .contactContainer__item Tomsk, Irkutsky Trakt.
        .contactContainer__item.infoTitle E-mail
        .contactContainer__item official.trusov.mail@gmail.com
        .contactContainer__item.infoTitle Phone
        .contactContainer__item +7-905-990-45-37
        .contactContainer__item.infoTitle Website
        .contactContainer__item www.*.github.io


        