.col__contact
    include ../projectShare/mixins
    +setTitle("out/contact/img/icon.png", "Contact")
    .contactContainer
        .contactContainer__item.mediumBlue Address
        .contactContainer__item.fontStage1 Tomsk, Irkutsky Trakt.

        .contactContainer__item.mediumBlue E-mail
        .contactContainer__item.fontStage1 official.trusov.mail@gmail.com
        
        .contactContainer__item.mediumBlue Phone
        .contactContainer__item.fontStage1 +7-905-990-45-37

        .contactContainer__item.mediumBlue Website
        .contactContainer__item.fontStage1 www.*.github.io


        