.col__contact
    include ../projectShare/mixins
    +setTitle("out/contact/img/icon.png", "Contact",0,0,-4,-7)
    .contactContainer
        .contactContainer__item.mediumBlue.boldText Address
        .contactContainer__item.fontStage1 Tomsk, Irkutsky Trakt.

        .contactContainer__item.mediumBlue.boldText E-mail
        .contactContainer__item.fontStage1 official.trusov.mail@gmail.com
        
        .contactContainer__item.mediumBlue.boldText Phone
        .contactContainer__item.fontStage1 +7-905-990-45-37

        .contactContainer__item.mediumBlue.boldText Website
        .contactContainer__item.fontStage1 www.*.github.io


        