.col__contact
    include ../projectShare/mixins
    +setTitle("out/contact/img/icon.png", "Contact")
    .contactTuples
        .contactTuples__attributes
            .contactTuples__attribute.infoTitle Address
            .contactTuples__attribute.infoTitle E-mail
            .contactTuples__attribute.infoTitle Phone
            .contactTuples__attribute.infoTitle Website

        .contactTuples__values
            .contactTuples__value Tomsk, Irkutsky Trakt.
            .contactTuples__value official.trusov.mail@gmail.com
            .contactTuples__value +7-905-990-45-37
            .contactTuples__value www.*.github.io


        