.col__contact
    .blockTitle 
        .blockTitle__img
        .blockTitle__header Contact
        .blockTitle__line
    .cvContact 
        .cvContact__attributes
            .cvContact__attribute.infoTitle Address
            .cvContact__attribute.infoTitle E-mail
            .cvContact__attribute.infoTitle Phone
            .cvContact__attribute.infoTitle Website
        .cvContact__data
            .cvContact__address Irkutsky Trakt, 37/1
            .cvContact__e-mail official.trusov.mail@gmail.com
            .cvContact__phone +7-905-990-45-37
            .cvContact__webSite www.*.github.io